# Keywords-

It is reserved with specific meaning and these words cant be used as function name or variable name, it is also case sensitive.

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifiers-

Identifier is the name given to entities like class, functions, variables etc. in Python and it helps differentiate one entity from another.

In [2]:
abc_123 = 100 #abc_123 is an identifier

# 123_abc = 34 , @#_abc = 23 , for = 73 , abc$ = 836 cannot be used as identifier

# Comments-

Lines that exist in computer programs that are ignored by compilers and interpreters.
Using comments in programming makes code more human-readable as it gives some detail or clarification of what each section of 
a program is doing.

In [3]:
#This is a long comment
#and it extends
#Multiple lines

#or

'''This is a long comment
and it extends
Multiple lines '''

'This is a long comment\nand it extends\nMultiple lines '

# Intendations-

A code block (a function's body, loop, etc.) begins with indentation and ends with the first line without indentation. It is up to you to have the amount of indentation, but it must be consistent in the block.

In [4]:
for i in range (5):
    print (i)      #This spacing is known as idendation
    print (i*2)

    
if True:
            print ("Hello")
            d=132

0
0
1
2
2
4
3
6
4
8
Hello

# Statement-

Instructions that a Python interpreter can execute are called statements.

In [5]:
a = 5                     #single statement

#Multi-Line Statement
a = 1 + 2 + 3 + \
4 + 5 + 6 + \
7 + 8

#or

a = (1 + 2 + 3 +
4 + 5 + 6 +
7 + 8)

#or 

a = 10; b = 20; c = 30    #put multiple statements in a single line using ;

# Variables-

 A variable is a memory location used to store some data (value)

In [6]:
a = 5
b = 8.3
c = "Hello everyone"

In [7]:
#Multiple assignments
a=b=c=37
a,b,c = 23,3.3,"Have a good day"

# Storage Locations-

Storage locations will be same if the values are same.

In [8]:
a=3
print("Loc of a:",id(a))
b=3
print("Loc of b:",id(b))
a=4
print("Loc of a:",id(a))

Loc of a: 140708676346320
Loc of b: 140708676346320
Loc of a: 140708676346352

# Data Types-

In Python programming, as everything is an object, data types are simply classes, and variables are instances of these classes (objects).

In [9]:
a = 6
print(a, "is of type",type(a))

b = 6.864
print(b, "is of type",type(b))

c = "$Life is short$"
print(c, "is of type",type(c))

d = True
print(d, "is of type",type(d))

e = 2j+45
print(e, "is of type",type(e))

6 is of type <class 'int'>
6.864 is of type <class 'float'>
$Life is short$ is of type <class 'str'>
True is of type <class 'bool'>
(45+2j) is of type <class 'complex'>

# Python Strings-

The string is a Unicode character set.To represent strings, we may use single quotations or double-quotes. A string's first character has an index of 0.A string is a sequence of characters. ● Computers don't handle characters; they handle numbers (binary). ● Internally the characters are stored and manipulated as a combination of 0's and 1's. ● This conversion of character to a number is called encoding, and the reverse process is decoding. ● ASCII and Unicode are some of the popular encoding used. ● String is a sequence of Unicode character.

In [10]:
string = 'Stay safe and healthy'
print(string)

string = "Stay safe and healthy"
print(type(string))

string = """Stay safe and healthy"""
print(string)

Stay safe and healthy
<class 'str'>
Stay safe and healthy

In [11]:
print(string[2])

a

In [12]:
print(string[-1])

y

In [13]:
print(len(string))

21

In [14]:
print(string[len(string)-1])

y

In [15]:
#slicing
print(string[3:])

y safe and healthy

In [16]:
print(string[:-1])

Stay safe and health

In [17]:
print(string[3:9])

y safe

Strings are immutable. This means that elements of a string cannot 
be changed once it has been assigned.
● We can simply reassign different strings to the same name.

In [18]:
string[3]="D"   #incorrect way of writing

TypeError: 'str' object does not support item assignment

In [19]:
del string   #incorrect way of writing
print(string)

NameError: name 'string' is not defined

String Concatenation:-

In [20]:
str1 = "Hi!"
string = 'Stay safe and healthy'
str1+string

'Hi!Stay safe and healthy'

In [21]:
con=str1*5
print(con)

Hi!Hi!Hi!Hi!Hi!

Testing Membership in String:-

In [22]:
print("i" in str1)

True

String Iteration:-

In [23]:
c=0
for word in con:
    if word=="i":
        c+=1
print("found {} times".format(c))

found 5 times

In [24]:
print(str1.upper())

HI!

In [25]:
print(str1.lower())

hi!

In [26]:
print(''.join(['h','e','l','p','!']))

help!

In [27]:
string.find("e a")

8

In [28]:
str2="Hi people"
print(str2)
sr=str2.replace("people","hi")
print(sr)

Hi people
Hi hi

# Python List-

The list is the sequence of items that are ordered.Lists are mutable, meaning that it is possible to adjust the value of elements of a list.

In [29]:
a=[1,2,3,3,4,5,6,7,8,9,10]
print(a)
type(a)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

list

In [30]:
a[3] = "Hi"
a

[1, 2, 3, 'Hi', 4, 5, 6, 7, 8, 9, 10]

In [31]:
a[:]

[1, 2, 3, 'Hi', 4, 5, 6, 7, 8, 9, 10]

In [32]:
a[3:]

['Hi', 4, 5, 6, 7, 8, 9, 10]

In [33]:
a[:-3]

[1, 2, 3, 'Hi', 4, 5, 6, 7]

In [34]:
a[4:6]

[4, 5]

# Python Tuple-

A tuple is an ordered sequence of items, same as list. The only difference is that tuples are immutable. Tuples, once created, cannot be modified.

In [35]:
t=(2,4,5,5,3,2,4)
print(t)
type(t)

(2, 4, 5, 5, 3, 2, 4)

tuple

In [36]:
b = (34,23.3,"Hey")
b[2]

'Hey'

In [37]:
c = (34,23.3,4,[3,5,2,64.34])
c[3][3]

64.34

In [38]:
c=(3,5,2,6,3,6,4,3)

In [39]:
print(sum(c))
print(min(c))
print(max(c))

32
2
6

In [40]:
b[1]="hi" #Hence tuples are immutable

TypeError: 'tuple' object does not support item assignment

# Python Set-

The set is an unordered array of items.The set is defined by a comma-separated value within the {} brace.
The set itself is mutable. We can add or remove items from it.Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [41]:
a = {3,6,4,7,4,6,4,5,3,5,5}
a

{3, 4, 5, 6, 7}

In [42]:
print(a[4]) #As it is unordered it cannot give a particular position element

TypeError: 'set' object is not subscriptable

In [43]:
a = {5,3,5,6,8,4,3,2,5}
b = {4,5,3,5}
a.add(3.7)
a

{2, 3, 3.7, 4, 5, 6, 8}

In [44]:
a.update([44,55,33],[77,66])
a

{2, 3, 3.7, 4, 5, 6, 8, 33, 44, 55, 66, 77}

In [45]:
a.discard(33)
a

{2, 3, 3.7, 4, 5, 6, 8, 44, 55, 66, 77}

In [46]:
a.remove(44)
a

{2, 3, 3.7, 4, 5, 6, 8, 55, 66, 77}

In [47]:
a.pop()
a

{3, 3.7, 4, 5, 6, 8, 55, 66, 77}

In [48]:
a.clear()
a

set()

In [49]:
a = {5,3,5,6,8,4,3,2,5}
b = {4,5,3,5}
print("a | b",a|b)
print("a union b",a.union(b))
print("a & b",a&b)
print("a intersection b",a.intersection(b))
print("a - b",a-b)
print("a difference b",a.difference(b))
print("a ^ b",a.symmetric_difference(b))
print("b is subset of a",b.issubset(a))

a | b {2, 3, 4, 5, 6, 8}
a union b {2, 3, 4, 5, 6, 8}
a & b {3, 4, 5}
a intersection b {3, 4, 5}
a - b {8, 2, 6}
a difference b {8, 2, 6}
a ^ b {2, 6, 8}
b is subset of a True

# Python Frozen Sets-

Frozen sets have the characteristics of sets, but once assigned, we can't change 
the items
● While tuple are immutable lists, frozen sets are immutable sets.
● Frozensets can be created using the function frozenset()
● Sets being mutable are unhashable, so they can't be used as dictionary keys. 
On the other hand, frozensets are hashable and can be used as keys to a 
dictionary.
● Methods like copy(), difference(), intersection(), isdisjoint(), issubset(), 
issuperset(), symmetric difference() and union() are supported by this data 
type (). 
● As it is immutable, it has no method for adding or removing elements

In [50]:
b = frozenset()

In [51]:
b = [4,5,3] #hence frozen sets are immutable
b.add(4)

AttributeError: 'list' object has no attribute 'add'

# Python Dictionary-

An unordered collection of key-value pairs is a dictionary.In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [52]:
dict = {
    "dog" : 1,
    "cat" : 2,
    "parrot" : 5
}
print(dict)

{'dog': 1, 'cat': 2, 'parrot': 5}

In [53]:
dict["cat"]

2

In [54]:
dict["wild"]=["lion","tiger","monkey"]
dict

{'dog': 1, 'cat': 2, 'parrot': 5, 'wild': ['lion', 'tiger', 'monkey']}

In [55]:
dict["wild"][2]

'monkey'

In [56]:
dict.keys()

dict_keys(['dog', 'cat', 'parrot', 'wild'])

In [57]:
dict.values()

dict_values([1, 2, 5, ['lion', 'tiger', 'monkey']])

In [58]:
dict.items()

dict_items([('dog', 1), ('cat', 2), ('parrot', 5), ('wild', ['lion', 'tiger', 'monkey'])])

In [59]:
print(dict["6"]) #As value 6 is not present in our dictionary it throws error

KeyError: '6'

In [60]:
print(dict.get("cat"))
print(dict.get(5))

2
None

In [61]:
print(dict.pop("dog"))

1

In [62]:
print(dict.popitem())

('wild', ['lion', 'tiger', 'monkey'])

In [63]:
dict["wild"]=["lion","tiger","monkey"]
dict

{'cat': 2, 'parrot': 5, 'wild': ['lion', 'tiger', 'monkey']}

In [64]:
del dict["wild"]
dict

{'cat': 2, 'parrot': 5}

In [65]:
dict1=dict.copy()
dict1

{'cat': 2, 'parrot': 5}

In [66]:
dict1={}.fromkeys(['lion'],7)
dict1

{'lion': 7}

In [67]:
dir(dict1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [68]:
dict1.clear()
dict1

{}

# Conversion between Datatypes-

In [69]:
float(17)

17.0

In [70]:
int(773.34)

773

In [71]:
str(73)

'73'

In [72]:
int("hi") #We cannot convert string to an integer

ValueError: invalid literal for int() with base 10: 'hi'

In [73]:
string = "I am learning basics of"
sub = "ML"
dur = 2
print(string+" "+sub+" "+"since"+" "+str(dur)+" "+"years")

I am learning basics of ML since 2 years

In [74]:
a = [4,2,4]
b = set(a)
print(b)
print(type(a))
c=tuple(a)
print(c)

{2, 4}
<class 'list'>
(4, 2, 4)

# Python Input and Output-

To output data to the standard output device, print() is used and input() take the input from the user

In [75]:
a = 45;b = 34
print("The numbers are {} & {}".format(a,b))

The numbers are 45 & 34

In [76]:
print((string)+" "+(sub)+" "+"since"+" "+(str(dur))+" "+"years".format(string = "I am learning basics of",sub = "ML",dur = 2))

I am learning basics of ML since 2 years

In [77]:
print("{0} {1} since {2} years".format("I am learning basics of","ML",2))

I am learning basics of ML since 2 years

In [78]:
print(input("Enter any number!"))

Enter any number!5
5

# Operators-

Operators are special symbols in Python that execute arithmetic or logical computation. The value 
on which the operator functions is called the operand.

Arithmetic operators:-

To perform mathematical operations such as addition, subtraction, multiplication etc., arithmetic 
operators are used.+ , -, *, /, %, //, ** are arithmetic operators.

In [79]:
a=1+2 ; b=4-2 ; c=4/5 ; d=5*5
print(a,b,c,d)

3 2 0.8 25

In [80]:
m=56%3 #remainde
n=44//3 #quotient
p=4**3 #power
print(m,n,p)

2 14 64

Comparison Operators:-

Comparison operators are used to comparing values.It returns either true or false depending on the situation.

In [81]:
a=34 ; b=52 ;print("a is greater than b",a>b)
print("a is less than b",a<b)
print("a is equal to b",a==b)
print("a is not equal to b",a!=b)
print("a is less than or equal to b",a<=b)
print("a is greater than or equal to b",a>=b)

a is greater than b False
a is less than b True
a is equal to b False
a is not equal to b True
a is less than or equal to b True
a is greater than or equal to b False

Logical Operators:-

Logical operators are and, or, not , xor, xnor operators.

In [82]:
a = False ; b = True
print("a and b:", a and b)
print("a or b:", a or b)
print("not of b:", not b)

a and b: False
a or b: True
not of b: False

Bitwise operators:-

Bitwise operators function on operands as if they were a binary digit strings.Bit by bit, it works.&, |, ~, ^, >>, << are Bitwise operators.

decimal->binary->perform operation->result is in binary form-> decimal

In [83]:
a = 22 ; b = 44
print(a & b)

4

In [84]:
print(a | b)

62

In [85]:
print(~a)

-23

In [86]:
print(a^b)

58

In [87]:
print(a<<b)

387028092977152

In [88]:
print(a>>b)

0

Assignment operators:-

 Assignment operators are used for assigning values to variables in Python.

In [89]:
a = 34
a

34

In [90]:
a+=23
a

57

In [91]:
a-=2
a

55

In [92]:
a*=4
a

220

In [93]:
a/=4
a

55.0

In [94]:
a%=2
a

1.0

Identity Operators:-

 "is" and "is not" are the identity operators in Python. They are used to verify if there are two values (or variables) in the same portion of the memory.

In [95]:
a=34 ; b=34
print(a is b)

True

In [96]:
m = [23,43,6,45] ; n = [34,23,53,6]
print(m is not n)

True

In [97]:
x = "Hello" ; y = "Helloo"
print(x is y)

False

MemberShip Operators:-

"in" and "not in" are the membership operators in Python.Tests whether a value or variable is located in a sequence (string, list, tuple, set and dictionary).

In [98]:
m = [23,43,6,45]
print(6 in m)

True

In [99]:
n = (34,23,53,6)
print(56 in m)

False

In [100]:
dict = {
    1:"dog",
    2:"cat" ,
    3:"parrot" 
}
print(3 not in dict)

False

# Python if...else Statements-

In [101]:
#Python if...elif...else Statements
#intend is important and colan(:) for condn statement is important
d=17494
if d>1000:
    print("d is larger than threshold")
elif d<500:
    print("d s smaller than threshold")
else:
    print("d is in between threshold")

d is larger than threshold

In [102]:
#Python if...else Statements
e=38
if e>84 and e<20:
    print("e is valid")
else:
    print("not valid")

not valid

In [103]:
#Python Nested if Statements
a = 344
if a>322:
    b=300
    if b==300: print("b is 300")
    else: print("b is a different no")
else:
    print(a)

b is 300

# Python While loop-

In Python, the while loop is used to iterate over a code block as long as it is valid for the test 
expression (condition).The body of the loop is reached only if the test expression checks true.The test expression is again tested after one iteration.This method persists until False is tested for the test expression.

In [104]:
i=10
while(i<20):
    print(i,end=",")
    i+=1

10,11,12,13,14,15,16,17,18,19,

In [105]:
i=10
while(i>=1):
    i-=1
else:
    print("The value has reached to zero")

The value has reached to zero

# Python For loop-

To iterate over a sequence (list, tuple, string) or other iterable objects, the for loop is used in Python.Iterating over a sequence is called traversal.Here, element is the variable that takes the value of the item inside the sequence on each iteration.The loop will run until the last object in the sequence is reached.

In [106]:
for i in range(5):
    print(i)

0
1
2
3
4

In [107]:
#(start,end,jump)
for i in range(3,20,5):
    print(i)

3
8
13
18

In [108]:
for i in range(3, 21):
    if i%2==0:
        print(i, end=", ")

4, 6, 8, 10, 12, 14, 16, 18, 20,

In [109]:
a = [2,4,5,6,7,3]
b = 1
for item in a:
    b+=item
print("the value obtained is:",b)

the value obtained is: 28

# Python break and continue-

In Python, statements like break and continue will modify the flow of a regular loop.Loops iterate over a code block until the test expression is incorrect, but often, without testing the 
test expression, we choose to end the current iteration or even the whole loop.

In [110]:
for item in "Python":
    if item == "h":
        break
    print(item)

print("Thank you")

P
y
t
Thank you

In [111]:
for item in "Python":
    if item == "h":
        continue
    print(item)

print("Thank you")

P
y
t
o
n
Thank you

# Python List-

Python Append:-

In [112]:
y=[1,2,(69,89,32),["Hello","There!"]]
y.append(1+3)
y

[1, 2, (69, 89, 32), ['Hello', 'There!'], 4]

In [113]:
y.append("hi")
y

[1, 2, (69, 89, 32), ['Hello', 'There!'], 4, 'hi']

Python Insert:-

In [114]:
y.insert(1,"wassup")
y

[1, 'wassup', 2, (69, 89, 32), ['Hello', 'There!'], 4, 'hi']

Python Remove:-

In [115]:
y.remove("wassup")
y

[1, 2, (69, 89, 32), ['Hello', 'There!'], 4, 'hi']

Python Extend:-

In [116]:
z=[5,8,['formers','trans'],(6,6,6)]
y.extend(z)
y

[1,
 2,
 (69, 89, 32),
 ['Hello', 'There!'],
 4,
 'hi',
 5,
 8,
 ['formers', 'trans'],
 (6, 6, 6)]

Python Delete:-

In [117]:
del y[3:9]
y

[1, 2, (69, 89, 32), (6, 6, 6)]

In [118]:
y.pop(3)

(6, 6, 6)

List Reverse:-

In [119]:
y.reverse()
y

[(69, 89, 32), 2, 1]

List Sorting:-

In [120]:
a = [2,3,2,5,3] #ascending
sorted(a)

[2, 2, 3, 3, 5]

In [121]:
sorted(a,reverse=True) #descending

[5, 3, 3, 2, 2]

In [122]:
a.sort()
a

[2, 2, 3, 3, 5]

Split String to create a list:-

In [123]:
string = 'Stay safe and healthy'
string.split()

['Stay', 'safe', 'and', 'healthy']

In [124]:
string = "S,t,a,y"
string.split()

['S,t,a,y']

In [125]:
string = "S t a y"
string.split()

['S', 't', 'a', 'y']

List Indexing & Slicing:-

In [126]:
a = [2,3,2,5,3,"Stay","safe","healthy"]
a[3:4:1]

[5]

In [127]:
a[-1]

'healthy'

In [128]:
a[:5]

[2, 3, 2, 5, 3]

List extend using "+":-

In [129]:
w = y+z
w

[(69, 89, 32), 2, 1, 5, 8, ['formers', 'trans'], (6, 6, 6)]

List Count:-

In [130]:
a = [2,3,2,5,3]
a.count(3)

2

List Comprehensions:-

In [131]:
S = [x**2 for x in range(10)]
S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
list = [n+2 for n in S if n%2==0]
list

[2, 6, 18, 38, 66]

Nested List Comprehensions:-

In [133]:
matrix = [[j for j in range(5)] for i in range(5)]
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

# Dictionary Comprehension-

In [134]:
dic = {"dog" : 1, "cat" : 2, "parrot" : 5, "cow" : 4}
for item in dic.items():
    print("items:",item)
dic1 = {a:b for a,b in dic.items() if b==2}
print("dic1",dic1)
dic1 = {a+"eye":b for a,b in dic.items() if b==2}
print(dic1)

items: ('dog', 1)
items: ('cat', 2)
items: ('parrot', 5)
items: ('cow', 4)
dic1 {'cat': 2}
{'cateye': 2}

# Python Functions-

● Function is a group of statements that perform a specific task.
● Functions help to break down smaller and modular chunks of our 
program.
● The functions make it more organized and manageable as our program 
grows larger and larger.

In [135]:
def func(x):
    if x==3:
        print("Correct number")
    else:
        print("Wrong number")
func(4)

Wrong number

In [136]:
def func(x):
    x+=3
    return x     
func(4)

7

# Built-in Functions-

In [137]:
a = [3,5,3,5]
b = (3,0,4,3)
print(all(a)) #check if all elements in iterable are True
print(all(b)) #check if all elements in iterable are True as it contains 0 it returns False

True
False

In [138]:
print(divmod(20,4))

(5, 0)

In [139]:
m = [4,6,3,7]
for num in enumerate(m): #print index value along with the value
    print(num)

(0, 4)
(1, 6)
(2, 3)
(3, 7)

filter():-

 The filter() constructs an iterator from items of an iterable for which a function returns true.

In [1]:
def search_pos_num(num):
    if num>0:
        return num
l = range(-7,8)
print(list(l))
pos_num_list = list(filter(search_pos_num,l))
print(pos_num_list)

[-7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

isinstance():-

In [2]:
a = [3,5,7,4,2]
print(isinstance(a,list))
b = (4,6,3,5,3)
print(isinstance(b,list))

True
False

map():-

map() applies a function to all the items in an input_list.

In [3]:
a = []
b = [34,63,24,54]
def pow_num(num):
    return num**2
c = list(map(pow_num,b))
print(c)

[1156, 3969, 576, 2916]

reduce():-

reduce() is is used to apply a particular function passed in its argument to all of the list elements 
mentioned in the sequence passed along.It applies a rolling computation to sequential pairs of values in a list

In [4]:
a = [45,34,76,56]
from functools import reduce
def mult(m,n):
    return m*n
result = reduce(mult,a)   
print(result)

6511680

# Function Arguments-

Keyword Arguments:-

Python allows functions to be called using keyword arguments. When we call functions in this way, 
the order (position) of the arguments can be changed.

In [5]:
def arg(**kwargs):
    if kwargs:
        print("Wassup {0} {1}".format(kwargs['place'],kwargs['crowd']))
arg(place="Mumbai",crowd="public")

Wassup Mumbai public

Arbitary Arguments:-

In [6]:
def arg(*kwargs):
    print(kwargs)
    for i in kwargs:
        print("Wassup {0}".format(i))
arg("Mumbai","Bengaluru","Chennai")

('Mumbai', 'Bengaluru', 'Chennai')
Wassup Mumbai
Wassup Bengaluru
Wassup Chennai

# Recursion-

In python, you can call other functions from a function.Through recursive functions, a function can call itself.

In [7]:
def fact(num):
    return 1 if num==1 else (num*fact(num-1))
num = 5
print("The factorial of {0} is {1}".format(num,fact(num)))

The factorial of 5 is 120

In [8]:
def Fibonacci(n):
    return n if n<=1 else Fibonacci(n-1) + Fibonacci(n-2)
num=8
for item in range(num):
    print(Fibonacci(item))

0
1
1
2
3
5
8
13

# Anonymous / Lambda Function-

Anonymous functions in Python are functions that are defined without a name.While normal functions are defined using the def keyword, the lambda keyword is used to define 
anonymous functions in Python.Lambda functions are widely used together with built-in functions such as filter(), map(), etc ()

In [9]:
power = lambda x:x*x
print(power(4))

16

lambda with filter:-

In [10]:
a = [4,6,3,7,3,7,4,7]
b = list(filter(lambda x:(x%2==0),a))
print(b)

[4, 6, 4]

lambda with map:-

In [11]:
a = [4,6,3,7,3,7,4,7]
b = list(map(lambda x:x*2,a))
print(b)

[8, 12, 6, 14, 6, 14, 8, 14]

lambda with reduce:-

In [12]:
from functools import reduce
a = [4,6,3,7,3,7,4,7]
b = reduce(lambda x,y:x+y,a)
print(b)

41