In [1]:
#shift+enter
print("Hello world")

Hello world

In [2]:
print('hi')

hi

In [4]:
a=2+4+9
print(a)

15

In [5]:
type(a)

int

In [6]:
b='hello'
print(b)
type(b)

hello

str

In [8]:
c=15.5555
type(c)

float

  $$Conditional Statement$$

In [24]:
#intend is important and colan(:) for condn statement is imp
d=17494
if d>1000:
 print("d is larger than threshold")
elif d<500:
 print("d s smaller than threshold")
else:
 print("d is in between threshold")

d is larger than threshold

In [31]:
e=38
if e>84 and e<20:
 print("e is valid")
else:
    print("not valid")

not valid

$$Iterations$$

In [48]:
i=10
 
while(i<20):
     print(i,end=",")
     i+=1

10,11,12,13,14,15,16,17,18,19,

In [49]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [53]:
#(start,end,jump)
for i in range(3,20,5):
    print(i)

3
8
13
18

In [56]:
for i in range(3, 21):
    if i%2==0:
        print(i, end=", ")

4, 6, 8, 10, 12, 14, 16, 18, 20,

$$Functions$$

In [60]:
def abc(x,y,z):
    print("result")
    print(x*y+z)
    
abc(2,4,5)
abc(46,38,84)

result
13
result
1832

$$Data structures$$

In [62]:
l=[1,2,3,3,4,5,6,7,8,9,10]
print(l)
type(l)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

list

In [63]:
l[1]

2

In [64]:
l[-5]

6

In [65]:
l[1:6]

[2, 3, 3, 4, 5]

In [67]:
l[1:]

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
st="this is me danny"
st[4]
st[6:15]

's me dann'

In [77]:
##tuple
t=(2,4,5,5,3,2,4)
t[4]

3

$$Dictionary$$

In [79]:
dic = {
    "dog" : 1,
    "cat" : 2,
    "parrot" : 5
}

In [80]:
dic

{'dog': 1, 'cat': 2, 'parrot': 5}

In [82]:
dic["cat"]

2

In [83]:
dic["wild"]=["lion","tiger","monkey"]

In [84]:
dic

{'dog': 1, 'cat': 2, 'parrot': 5, 'wild': ['lion', 'tiger', 'monkey']}

In [85]:
dic["wild"][2]

'monkey'

In [103]:
dic.keys()

dict_keys(['dog', 'cat', 'parrot', 'wild'])

In [104]:
dic.values()

dict_values([1, 2, 5, ['lion', 'tiger', 'monkey']])

In [105]:
dic.items()

dict_items([('dog', 1), ('cat', 2), ('parrot', 5), ('wild', ['lion', 'tiger', 'monkey'])])

In [107]:
dic.pop('cat')

2

In [86]:
f=0.3
g=0.2
a=f+g
print(a)

0.5

In [87]:
y=[1,2,(69,89,32),["Hello","There!"]]

In [88]:
y.append(1+3)

In [89]:
y

[1, 2, (69, 89, 32), ['Hello', 'There!'], 4]

In [90]:
y.append("hi")

In [91]:
y

[1, 2, (69, 89, 32), ['Hello', 'There!'], 4, 'hi']

In [93]:
y.insert(1,"wassup")

In [94]:
y

[1, 'wassup', 2, (69, 89, 32), ['Hello', 'There!'], 4, 'hi']

In [95]:
z=[5,8,['formers','trans'],(6,6,6)]

In [96]:
y+z

[1,
 'wassup',
 2,
 (69, 89, 32),
 ['Hello', 'There!'],
 4,
 'hi',
 5,
 8,
 ['formers', 'trans'],
 (6, 6, 6)]

In [98]:
y.extend(z)

In [99]:
y

[1,
 'wassup',
 2,
 (69, 89, 32),
 ['Hello', 'There!'],
 4,
 'hi',
 5,
 8,
 ['formers', 'trans'],
 (6, 6, 6)]

In [100]:
l1=[1,2,3]
l2=[4,5,6]
l1+l2

[1, 2, 3, 4, 5, 6]

In [101]:
#you cannot multiply or divide or subract two lists
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'